div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  div ul li {
    display: inline-block;
    margin: 10px;
  }
  
  img {
    width: 300px;
  }
  
  .books {
    margin: 20px;
  }